.dmx-grid-cell {
    aspect-ratio: 1 / 1;
}

.fader-module {
    grid-row: span 2 / span 2;
    aspect-ratio: auto;
}

#universe-grid {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr)); /* Ensure 16 columns */
}